.chat_messages__wrapper {
  flex: 1;
  min-height: $chatmessages-wrapper-height;
  background: light-dark(var(--mantine-color-blue-1), var(--mantine-color-dark-9));
}

.chat__input {
  width: 100%;
  height: fit-content;
  position: sticky;
  bottom: 0;
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.chat_message__send {
  width: rem(20px);
  height: rem(20px);
}
