.placeholder__wrapper {
  height: $chatshell-outlet-height;
}

.chat_messages__wrapper {
  flex: 1;
  min-height: $chatmessages-wrapper-height;
  background: light-dark(var(--mantine-color-blue-1), var(--mantine-color-dark-9));
}

.chat__input {
  width: 100%;
  height: fit-content;
  position: sticky;
  bottom: 0;
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.chat_message__from {
  border-radius: 8px;
  background: light-dark(var(--mantine-color-blue-8), var(--mantine-color-white));
}

.chat_message__from_text {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black));
}

.chat_message__from_time {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black));
  opacity: light-dark(1, 0.4);
}

.chat_message__to {
  border-radius: 8px;
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

.chat_message__send {
  width: rem(20px);
  height: rem(20px);
}
